.blue {
    border-bottom: 5px solid blue;
}

.yellowgreenBaby {
    border-bottom: 5px solid rgba(220, 216, 16, 0.89);
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}